main {
    text-align: center;
}

body {
    text-align: center;
    font-family: 'Catamaran',sans-serif;
}

h1 {
    text-align: center;
}

.result {
    text-align: center;
    font-size: 30px;
    font-style: italic
    
}

.row {
    margin : 50px;
}

a:link {
    color: grey;
    text-decoration: none;
}

ul {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

/* visited link */
a:visited {
    color: grey;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: grey;
    text-decoration: none;
}

/* selected link */
a:active {
    color: grey;
    text-decoration: none;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 0px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}


.css-input {
    padding: 4px;
    font-size: 16px;
    border-width: 7px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 36px;
    box-shadow: 0px 0px 0px rgba(66, 66, 66, .75);
    text-shadow: -50px 0px 0px rgba(66, 66, 66, .75);
}

.css-input:focus {
    outline: none;
}



/* HIDE RADIO */ 
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    outline: 4px solid grey;
    outline-offset: 10px;
}

.button {
    display : flex;
    flex-direction: row;
    flex-flow :center;
    gap : 40px;
    padding: 30px;
    justify-content: center;
}


.btn {
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    color: #ffffff;
    font-size: 13px;
    background: #a6a6a6;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 0px;
    text-decoration: none;
}

.btn:hover {
    background: #7d7d7d;
    text-decoration: none;
}

.out {
    visibility: hidden;
}