<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Roboto:wght@100&family=Zilla+Slab:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <title>Let's play {{ title }} Meow</title>
</head>

<body>
    <div>

        <p>

        </p>
        <ul>
            <li>
                <a href="/"><img src="{{url_for('static', filename='img/logo_circle.png')}}" width="150"></a>
            </li>
            <li>
                <a href="/">Meow Rock Meow Paper Meow Scissors</a>

        </ul>
    </div>

    <hr>
    {% block content %}{% endblock %}
</body>
<ul>
    </li>
    <li><hr>
    </li>
    <li>
        <a href="https://github.com/hanselkang">Visit My Github</a>
    </li>
</ul>

</html>