<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form class="form-inline" action="/games" method="post">
        <label for="player">Player Name</label>
        <input type="player" name="player" id="player">
        
        <label>
            <input type="radio" name="player_choice" id="player_choice" value="Rock">
            <span class="design"></span>
            <span class="value">Rock</span>
        </label>
        <label>
            <input type="radio" name="player_choice" id="player_choice" value="Paper">
            <span class="design"></span>
            <span class="value">Paper</span>
        </label>
        <label>
            <input type="radio" name="player_choice" id="player_choice" value="Scissors">
            <span class="design"></span>
            <span class="value">Scissors</span>
        </label>

        <input type="submit" value="Play Game">
    </form>
</body>

</html>