<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form class="form-inline" action="/games" method="post">
        <label for="player1">Player1 Name</label>
        <input type="player1" name="player1" id="player1>

        <label for="player1_choice">Player1 Choice</label>
        <input type="player1_choice" name="player1_choice" id="player1_choice">

        <input type="submit" value="Play Game">
    </form>
</body>

</html>